body{
    text-align: center;
    padding:2.5%;
}

.time{
    display: flex;
    flex-flow: row wrap;
    list-style: none;
    justify-content: center;
    
}
.time input{
    display: inline-block;
    padding: 1em;
    color:blue;
    border: none;
    background-color: blue;
    width: 5em;
    height: .0000000000000000001em;
    padding-top: 2em;
    text-align: center;
    position: relative;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.time input:hover {
    border: 1px solid black ;
    
}
.time input:valid {
    background: white;
}

.timelabel {
    display: flex;
    flex-flow: row wrap;
    list-style: none;
    justify-content: center;
}
.timelabel label{
    display: inline-block;
    text-align: center;
    margin-left: 3em;
    margin-right: 3em;
    padding-top: 1.5em;
}
.time p{
    display: inline;
    font-weight: bolder;
}
.button{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 5px;
}


